body {
  background-color: rgb(147, 145, 144);
}

#menu-place {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 30px;
}

.menu-button, .auth-button {
  cursor: pointer;
  margin-bottom: 3em;
  background-color: rgb(179, 181, 181);
}

.active {
  background-color: rgba(255, 77, 0, 0.542);
}

#movies-search-place{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#movies-container-place{
  position: relative;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pages-place {
  position: sticky;
  z-index: 1;
  top: 10px;
  width: 90%;
  text-align: center;
}

.page-button {
  cursor: pointer;
}

.page-active {
  color: rgb(221, 42, 11);
}

#movies-grid-place {
  display: flex;
  position: sticky;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movie-element {
  border-radius: 3%;
  margin: 25px 20px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgb(174, 100, 100);
}

.movie-element-img {
  width: 200px;
  height: 300px;
  max-height: fit-content;
}

.movie-element-title {
  height: 60px;
  max-width: 200px;
  text-align: center;
}

#movie-details-place {
  display: flex;
  flex-direction: row;
  margin: 3em;
}

.movie-details-place-image {
  margin-right: 3em;
}

.movie-details-place-image img {
  max-width: 400px;
}

.movie-details-place-overview {
  margin-top: 2em;
  margin-bottom: 10em;
  text-align: justify;
}

#movie-details-place-btns {
  display: flex;
  justify-content: center;
}

.movie-details-place-btn {
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  background-color: rgb(179, 181, 181);
  font-size: 1em;
}